.footerContainer {
  background: black;
  min-height: 50vh;
  display: flex;
  padding-bottom: 50px;
  width: 100vw;
  margin-top: 100px;
  color: white;
}

.footer {
  width: 80vw;
  border: 3px solid white;
  margin: auto;
  height: 40vh;
  background: black;
  overflow: auto;
  // box-shadow: 0px 0px 10px 5px white;
  // border-radius: 25px;
  padding: 50px;
}
