.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 50px;
  border-bottom: 1px solid white;
  align-items: center;

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px dotted white;
    padding: 3px;
    margin-bottom: 0;
  }

  strong {
    font-weight: 900;
    text-transform: uppercase;
  }

  button,
  a {
    margin: 5px;
    width: 48%;
  }

  p {
    text-align: justify;
  }
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.featuredImage {
  text-align: center;

  img {
    width: 100%;
    float: right;
    transition-duration: 0.5s;
  }
}

.info {
  padding: 20px;
}

.galleryContainer {
  background: transparent;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  ul {
    margin-left: auto;
  }

  p {
    background-color: black;
    color: white;
    font-family: "Montserrat";
    margin: 0;
    padding: 10px;
  }
}
