.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 5vw;

  h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 25px;
    padding-left: 20px;
    border-left: 5px solid black;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 25px;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding-left: 15px;
  }

  .introduction {
    p {
      text-align: justify;
    }
  }

  .skillSectionContainer {
    height: 100vh;
  }

  .skillBox {
    display: flex;
    align-items: stretch;

    div {
      flex: 1;

      .skills {
        padding-right: 20px;
        margin-left: 35px;
        border-right: 5px solid black;
        height: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;

        p {
          margin-block: 5px;
        }

        span {
          display: block;
          margin-left: 15px;
          font-size: 0.85rem;
        }
      }
    }
  }

  .interests {
    p {
      margin-block: 2px;
    }
  }

  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .contacts {
    img {
      width: 100%;
      border-radius: 25px;
      border: 1px dotted black;
    }
    div {
      display: flex;
      align-items: center;
      p {
        margin-left: 10px;
      }
    }
  }

  .goodreadsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    h2 {
      font-weight: 300;
      text-transform: none;
      font-size: 1rem;
      border: none;
    }
  }
}
